@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Importando a fonte Open Sans */

/* App.css */
body, html {
  height: 100%;
  margin: 0;
}

.container {
  width: 300px;
  background-color: #ebebeb;
  padding: 25px 20px;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 10px 11px rgba(0, 0, 0, 0.7);
  margin-top: 40px;

  /* Centralizar a caixa na tela */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Centralizar o conteúdo dentro da caixa */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.form-group,
.login-form-group,
.register-form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field {
  padding: 6px;
  margin-top: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.form-error {
  display: block;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #ad0c27;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  margin-bottom: 40px;
}

.button:hover {
  background-color: #78091c;
}
