@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/font-awesome.min.css');
/*https://fontawesome.com/icons/packs/classic*/

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

/* CONFIGURAÇÃO GERAL DO MENU/HEADER */

/* configurando o menu e tornando-o horizontal*/
header {
    font-size: 1.2em;
    grid-column:1/6;
    grid-row:1/2;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* configuração da logo*/
header #logo{
    padding: 0 25px;
    max-width: 160px;
    max-height: 100%;
}

/* configuração do menu*/
nav ul{
    text-align:center;
    list-style-type: none; /* retira os símbolos de tópico da lista*/
}

/* configuração dos itens do menu*/
nav li{
    box-sizing: border-box;
    display: inline-block;
    padding: 0.6em;
    transition: all 200ms ease;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

/* configuração dos itens do menu quando o mouse passa sobre eles*/
nav li:hover {
    background-color: rgba(226, 225, 225, 0.945);
}

/* configuração do texto do menu*/
nav a{
    text-decoration: none;
    color: black;
}

/* configuração dos ícones do menu*/
.icon{
    max-width: 1.2em;
    max-height: auto;
    padding: 0 0.4em;
    vertical-align: baseline; /* //? alinha o ícone com o texto*/
}

/* CONFIGURAÇÃO DO FOOTER */

footer{
    grid-column: 1/6;
    grid-row: 5/6;
    text-align:center;
    font-size: 0.8em;
}