/*** ESTILO GERAL DO POST ***/
.post {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.post h3 {
    margin: 10px 0;
    font-size: 18px;
}
  
.post p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
 
/*** ESTILO DAS TAGS E CATEGORIA ***/
.tags ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Estilo para o parágrafo de categoria */
.categoria{
    font-style: italic;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tags .tag {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.tags h4 {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 8px;
}

/*** ESTILO DOS LINKS E BOTÕES ***/
.links-e-botoes{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* Link "Ver mais" */
.link-ver-mais {
    color: #ad0c27; /* Vermelho */
    font-size: small; /* Tamanho pequeno */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Deixa o texto em negrito */
}
  
.link-ver-mais:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}

/* Botão de resposta */
.responder-btn {
    margin-top: 5px;
    padding: 8px 12px;
    background-color: #ad0c27;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    color: #fff;
    /*margin-right: 650px;*/
    font-weight: bold; /* Deixa o texto em negrito */
}

.responder-btn:hover {
    background-color: #8b0a20; /* Vermelho mais escuro */
}

.info-post{
    display: flex; /* Ativa o flexbox */
    justify-content: space-between; /* Espaça os elementos */
    align-items: center; /* Alinha verticalmente */
    margin-bottom: 10px; /* Espaçamento inferior */
}

/* Botão de deletar */
.info-post .delete-button {
    background-color: #ad0c27; /* Vermelho */
    box-sizing: border-box;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 15px;
}

.info-post .delete-button:hover {
    background-color: #8b0a20; /* Vermelho mais escuro */
}

.date {
    font-size: 12px;
    color: #555;
}

/*** ESTILO DO POST EM SUA PÁGINA ÚNICA ***/
.post-container {
    grid-column: 2/5;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px; /* Adiciona um espaçamento interno */
    border: 1px solid #ddd; /* Adiciona uma borda para destacar o post */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #fff; /* Fundo branco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    max-width: 900px;
}

.descricao-post{
    font-size: 20px;
}

.user-info-post{
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
}

/*** RESPOSTAS DO POST ***/

/* Estilo para o container de respostas */
.resposta-form {
    margin-top: 20px;
}
  
.resposta-form textarea {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}
  
.resposta-form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ad0c27;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.resposta-form button:hover {
    background-color: #8b0a20;
}

.texto-sem-resposta{
    font-size: 16px;
}

.lista-respostas {
    margin-top: 10px;
}

.lista-respostas h4{
    margin-bottom: 10px;
}

.user-info-resposta{
    margin-top: 0;
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
}
  
.resposta {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
  
.resposta p {
    margin: 5px 0;
    font-size: 16px;
}